body {background-color: green;}
h1 {color:blue;}
h2 {color:orange;}



h1 {color: #22168A;
    text-align: center;
    }
h2  {color: #A31E10;
    text-align: center;
    }
p   {
    }
table, th,td {
border:2px solid black;
border-collapse:collapse;
}
th, td {
background-color: #F0F557;
padding:5px;
}
th {
   text-align: left;
}
table.center {
             margin-left: auto;
             margin-right: auto;
             padding: 5px;
}